body {
  margin: 0;
  padding: 0;
  width: 100%;
}

// это переменные scss
$main-bg-color: rgba(0,0,0, 1);
$main-height: 65px;
$main-width: 1200px;
$main-bg-red: rgba(242,59,4,0.9);
$main-bg-yellow: rgba(247,203,27,0.9);
$main-height-high-block: 80px; // высота 1 и последнего блока
$main-number-color: #fff;

.box {
  height: $main-height;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif; /* тут можно вставить и другие шрифты google font в помощь */
  min-width: $main-width;
  margin-top: 5px;
}

.left-bg {
  display: flex;
  background-image: linear-gradient(to right, transparent, $main-bg-yellow 50%);
  width: 45%;
}

.right-bg{
  display: flex;
  background-image: linear-gradient(to left, transparent, $main-bg-red 50%);
  width: 45%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 54px;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-top: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-bottom: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}

.heart_left {
  display: none;
}

.left_left{
  height: $main-height-high-block;
  width: 30px;
  margin-right: 23px;

  &::before {
    border-top: $main-height-high-block solid $main-bg-color;
    left: -24px;
    border-left: 24px solid transparent;
  }
  
  &::after {
    border-bottom: $main-height-high-block solid $main-bg-color;
    right: -24px;
    border-right: 24px solid transparent;
  }
}

.menu {
  display: none;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-bottom: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-top: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}

.heart_right {
  display: none;
}

.right_right {
  height: $main-height-high-block;
  width: 30px;
  margin-left: 23px;

  &::before {
    left: -24px;
    border-left: 24px solid transparent;
    border-bottom: $main-height-high-block solid $main-bg-color;
  }

  &::after {
    right: -24px;
    border-right: 24px solid transparent;
    border-top: $main-height-high-block solid $main-bg-color;
  }  
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 30px;
}
.player__name {
  display: block;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.player__deck {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.player__name_left {
  text-align: right;
}

.player__deck_left {
  text-align: right;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    background-color: $main-bg-yellow;
    border-top: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $main-bg-red;
    right: -20px;
    border-top: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}

// мобильная версия
@media screen and (max-width: 979px) /* Tablet */ {

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .timer {
    display: none;
  }

  .box {
    min-height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-width: 0;
    position: relative;
  }

  .left-bg,
  .right-bg {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .left-bg {
    background-image: linear-gradient(to bottom, transparent, $main-bg-yellow 50%);
  }

  .right-bg {
    background-image: linear-gradient(to top, transparent, $main-bg-red 50%);
  }

  .player {
    display: none;
  }

  .left,
  .right {
    height: 50%;
    width: 50%;
    background-color: transparent;
    font-size: 8em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      display: none;
    }
  }

  .left {
    transform: rotate(180deg);
  }

  .heart_left {
    display: block;
  }

  .heart_right {
    display: block;
  }

  .minus,
  .plus {
    display: block;
    width: 20%;
    height: 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .minus {
    background-image: url(/img/round-delete-button.svg);
  }

  .plus {
    background-image: url(/img/rounded-add-button.svg);
  }

  .left_left,
  .right_right {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }

  .menu_btn {
    display: block;
    width: 20%;
    height: 100%;
    background-image: url(/img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
  }

  .reset {
    display: none;
    min-width: 50px;
    max-height: 100%;
    background-image: url(/img/refresh-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
  }
}

// кружки
.circles {
  display: flex;
  width: 100%;
  justify-content: center;
  min-width: 934px;
}

.circles__player-left,
.circles__player-right {
  width: 20%;
  // border: 1px solid green;/*раскоментить, чтобы увидеть границы действия клика для закраски кружков */
}

.circles__player-left {
  margin-right: 400px; // раздвигает кружки
}

.cirles-list {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 5px;
  margin-block-end: 25px;
  padding-inline-start: 0;
  height: 20px;
  width: 100%;
}

.circles__player-right > .cirles-list {
  justify-content: flex-start;
  margin-left: 0;
}

.circles__player-right > .cirles-list > .cirles-list__item:first-child {
  margin-left: 0;
}

.cirles-list__item {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 100%;
  list-style-type: none;
  background-color: red;
}

.cirles-list__item_color_green {
  background-color: green;
}

