body {
  margin: 0;
  padding: 0;
}

// это переменные scss
$main-bg-color: rgba(0,0,0, 1);
$main-height: 65px;
$main-width: 1200px;
$main-bg-yellow: rgba(255,255,0,0.9);
$main-bg-red: rgba(255,0,0,0.9);
$main-height-high-block: 80px; // высота 1 и последнего блока
$main-number-color: #fff;

.box {
  height: $main-height;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif; /* тут можно вставить и другие шрифты google font в помощь */
  min-width: $main-width;
  margin-top: 5px;
}

.left-bg {
  display: flex;
  background-image: linear-gradient(to right, transparent, $main-bg-yellow 50%);
  width: 45%;
}

.right-bg{
  display: flex;
  background-image: linear-gradient(to left, transparent, $main-bg-red 50%);
  width: 45%;
}

.left {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-top: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-bottom: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}

.left_left{
  height: $main-height-high-block;
  margin-right: 23px;

  &::before {
    border-top: $main-height-high-block solid $main-bg-color;
    left: -24px;
    border-left: 24px solid transparent;
  }
  
  &::after {
    border-bottom: $main-height-high-block solid $main-bg-color;
    right: -24px;
    border-right: 24px solid transparent;
  }
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-bottom: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-top: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}

.right-right {
  height: $main-height-high-block;
  margin-left: 23px;

  &::before {
    left: -24px;
    border-left: 24px solid transparent;
    border-bottom: $main-height-high-block solid $main-bg-color;
  }

  &::after {
    right: -24px;
    border-right: 24px solid transparent;
    border-top: $main-height-high-block solid $main-bg-color;
  }
  
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 30px;
}
.player__name {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.player__deck {
  display: block;
}
.player__name_left {
  text-align: right;
}
.player__deck_left {
  text-align: right;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: $main-bg-color;
  color: $main-number-color;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    background-color: $main-bg-yellow;
    border-top: $main-height solid $main-bg-color;
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $main-bg-red;
    right: -20px;
    border-top: $main-height solid $main-bg-color;
    border-right: 20px solid transparent;
  }
}
