body {
  margin: 0;
  padding: 0;
}

/* это css переменные, их можно менять, не использовать internrt explorer – это кал*/
:root {
  --main-bg-color: black;
  --main-height: 65px;
  --main-width: 1200px;
  --main-yellow-bg: rgba(255,255,0,0.9);
  --main-red-bg: rgba(255,0,0,0.9);
}

.box {
  height: var(--main-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif; /* тут можно вставить и другие шрифты google font в помощь */
  min-width: var(--main-width);
  margin-top: 5px;
}

.left-bg{
  display: flex;
  /* background-color: yellow; */
  background-image: linear-gradient(to right, transparent,var(--main-yellow-bg) 50%);
  width: 45%;
}

.right-bg{
  display: flex;
  background-image: linear-gradient(to left, transparent, var(--main-red-bg) 50%);
  width: 45%;
}

.left {
  height: 100%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-bottom: var(--main-height) solid var(--main-bg-color);
    border-right: 20px solid transparent;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-top: var(--main-height) solid var(--main-bg-color);
    border-left: 20px solid transparent;
  }
}

.left_left{
  height: 80px;
  

  &::before {
    border-top: 80px solid var(--main-bg-color);
  }
  
  &::after {
    border-bottom: 80px solid var(--main-bg-color);
  }

}

.left-w {
  border: none;
  outline: none;
  font-size: 45;
  background-color: transparent;
  color: #fff;
  width: 58px;
  text-align: center;
}

.right {
  height: 100%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-top: var(--main-height) solid var(--main-bg-color);
    border-right: 20px solid transparent;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-bottom: var(--main-height) solid var(--main-bg-color);
    border-left: 20px solid transparent;
  }
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 30px;
}
.player__name {
  font-weight: 600;
  text-transform: uppercase;
}
.player__deck {
  color: #8e8e8e;
}
.player__name_left {
  text-align: right;
}
.player__deck_left {
  text-align: right;
}

.timer {
  height: 100%;
  width: 10%;
  position: relative;
  align-self: center;
  font-size: 45px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 10px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    background-color: var(--main-yellow-bg);
    border-top: var(--main-height) solid var(--main-bg-color);
    border-left: 20px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: var(--main-red-bg);
    right: -20px;
    border-top: var(--main-height) solid var(--main-bg-color);
    border-right: 20px solid transparent;
  }
}
